<div class="columns">
  <div class="column is-one-fifth">
    <section class="section">
      <%= erb :form, locals: { board: board } %>
    </section>
  </div>
  <div class="column">
    <%= erb :cards, locals: { board: board, cards: cards, userid: userid } %>
  </div>
</div>
