<div class="card mb-3">
  <div class="card-content">
    <div class="content">
      <p>
        <%=h card[:message] %>
        <small class="has-text-grey-light"> -- <%=h card[:username] %></small>
      </p>
    </div>
  </div>
</div>
