<link rel="stylesheet" href="/css/bulma_<%= @theme %>.css">

<style> html{ overflow: hidden; } </style>

<h1 class="title has-text-centered mt-5">
  <%= (remaining / 60).to_i.to_s.rjust(2, '0') %>
  :
  <%= (remaining % 60).to_i.to_s.rjust(2, '0') %>
</h1>
