<form action="/boards/<%= board[:id] %>/cards" method="POST" class="mt-5">
  <input type="hidden" name="column" value="<%= column %>" />

  <div class="field has-addons is-fullwidth">
    <div class="control is-expanded">
      <input type="text" class="input" placeholder="What's on your mind?..." name="message" id="message" />
    </div>
    <div class="control">
      <button class="button is-link" type="submit">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>

</form>
