<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Retro</title>
    <link rel="stylesheet" href="/css/bulma_<%= @theme %>.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    <div class="columns">
      <div class="column ml-3 mt-3">
        <h1 class="title has-text-weight-normal">RETRO</h1>
      </div>
      <div class="column has-text-centered">
        <% if board[:id] %>
          <iframe frameborder="0" src="/boards/<%= board[:id] %>/countdown" style="width: 100%; height: 5rem"></iframe>
        <% end %>
      </div>
      <div class="column has-text-right mr-3 mt-3">
        <% if @theme == "light" %>
          <a class="button is-link ml-2 mt-2" href="/mode/dark">Enable dark mode</a>
        <% else %>
          <a class="button is-link ml-2 mt-2" href="/mode/light">Enable light mode</a>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
