<section class="section">
  <div class="container">
    <form action="/username" method="POST">
      <div class="field">
        <label class="label" for="username">Your name</label>
        <div class="control is-fullwidth">
          <input class="input" type="text" placeholder="Your name..." name="username" id="username">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link" type="submit">Set name</button>
        </div>
      </div>
    </form>
  </div>
</section>
